html{
    height: 100%;
}
body{
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-image: url("./resources/sprites/mainBG.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.root{
    height: 100%;
}

@font-face{
    font-family: 'Orion';
    src: url("./resources/fonts/xen_galaxy-webfont.woff") format('woff');
}
