.zone-container {
  background: url(../../../resources/sprites/catch_the_ball/stageBG.jpg);
  background-size: cover;
  overflow: hidden;
    box-sizing: border-box;
    
    border: .5px solid rgba(130, 130, 130, 0.5);
    width: 1000px;
    height: 650px;
    font-size: 1rem;
    position: relative;
    overflow: hidden;
  }
.catch_ball_displays{
    padding: 0 20px;
}
  .row {
    display: "flex";
    line-height: 32px;
    height: 32px;
  }

.ball {
    border: 1px solid #000;
    border-radius: 50%;
    position: absolute;
}